<a href="https://colab.research.google.com/github/Malikumair786/Machine_Learning/blob/main/AI_Labs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lab 1**

# Lab activities

**Activity 1**

Even number or odd number

In [ ]:
n = input("Enter a number: ")
if int(n)%2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: 43
The number is odd

**activity 2**

Write a Python code to keep accepting integer values from user until 0 is entered. Display sum of the
given values.

In [ ]:
sum = 0
s = input("Enter the integer: ")
n = int(s)
while n!= 0:
  sum+=n
  s = input("Enter the integer: ")
  n = int(s)
print("The sum of the given values are: ",sum)

Enter the integer: 10
Enter the integer: 521
Enter the integer: 5
Enter the integer: 22
Enter the integer: 0
The sum of the given values are:  558

**Activity 3**

In [ ]:
isPrime = True
i = 2
n = int(input("Enter the number"))
while i<n:
  remainder = n%i
  if remainder == 0:
    isprime = False
    break
  else:
    i+=1
if isPrime:
  print("Number is prime")
else:
  print("Numebr is not prime")

Enter the number3
Number is prime

**Activity 4**

Accept 5 integer values from user and display their sum. Draw flowchart before
coding in python.

In [ ]:
sum = 0
i = 0
while i<5:
  i+=1
  n = int(input("Enter an integer: "))
  sum+=n
print("Sum is : ",sum)

Enter an integer: 1
Enter an integer: 2
Enter an integer: 3
Enter an integer: 4
Enter an integer: 5
Sum is :  15

**Activity 5**

Calculate the sum of all the values between 0-10 using while loop.

In [ ]:
i = 0
sum = 0
while i<11:
  sum+=i
  i+=1
print("Sum is: ",sum)

Sum is:  55

**Activity 6**

Take input from the keyboard and use it in your program.

In [ ]:
name = input("What is Your name: ")
print("Hello "+name+"!")
age = input("Enter your age: ")
print("Age of "+name+" is "+age)

job = input("enter your feild of study: ")
print("The feild of study of "+ name +" is "+job)

What is Your name: umair
Hello umair!
Enter your age: 23
Age of umair is 23
enter your feild of study: software engineering
The feild of study of umair is software engineering

#Lab Tasks

**Lab Tasks 1**

Write a program that prompts the user to input an integer and then outputs the number with the digits
reversed. For example, if the input is 12345, the output should be 54321.

In [ ]:
n = int(input("Enter an integer: "))
n = str(n)
#print(n)
#type(n)
nReverse = n[::-1]
print(nReverse)

Enter an integer: 54321
12345
Enter an integer: 12
21

**Lab Task 2**

In [ ]:
noOfinteger = int(input("Enter the number of integres you want enter"))
i = 0
sumOfEven = 0
sumOfOdd = 0
while i<noOfinteger:
  i = i+1
  n = int(input("Enter the number: "))
  if int(n)%2 == 0:
    sumOfEven = sumOfEven+n
  else:
    sumOfOdd = sumOfOdd+n
print("The sum of even Numbers are: ",sumOfEven," and the sum of odd number are: ",sumOfOdd)

Enter the number of integres you want enter10
Enter the number: 0
Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 4
Enter the number: 5
Enter the number: 6
Enter the number: 7
Enter the number: 8
Enter the number: 9
The sum of even Numbers are:  20  and the sum of odd number are:  25

**Lab Task 3**

Fibonacci series is that when you add the previous two numbers the next number is formed. You have to start from 0 and 1.

**Lab Taks 4**

Write a Python code to accept marks of a student from 1-100 and display the grade according to the
following formula.

In [ ]:
n = 1
while n == 1:
  marks = int(input("Enter Your Marks: "))
  if marks<50:
    print("Grade F")
  elif marks >=50 & marks<60:
    print("Grade E")
  elif marks >=60 & marks<70:
    print("Grade D")
  elif marks >=70 & marks<80:
    print("Grade C")
  elif marks >=80 & marks<90:
    print("Grade B")
  else:
    print("Grade A")
  n = int(input("Enter 1 for entering the marks again"))

Enter Your Marks: 34
Grade F
Enter 1 for entering the marks again1
Enter Your Marks: 56
Grade E
Enter 1 for entering the marks again75

**Lab Taks 5**

Write a program that takes a number from user and calculate the factorial of that number.

In [ ]:
fact = 1
n = int(input("Enter a number"))

  print(n)
  if n<0:
    print("The factorial of negative number does not exists")
  elif n == 0:
    print("The factorial of 0 is 1")
  else:
    for n in range (1,n+1):
      fact*=i
    print("The factorial is ",fact)

Enter a number5
0
1
2
3
4

In [2]:
n = int(input("Enter a number: "))
fact = 1

# check if the number is negative, positive or zero
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n+1):
       fact = fact*i
   print("The factorial of",n,"is",fact)

Enter a number: 5
The factorial of 5 is 120