<a href="https://colab.research.google.com/github/Malikumair786/Machine_Learning/blob/main/Building_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Logistic Regression

1. This is example of supervised learning model, where we have labelled data.
2. It is classification model where we have to classsified the data into dofferent group or classes.
3. Best for binary classification problem
4. Used Sigmoid Function

Formula for sigmoid function:

Y^ = 1/(1+e**-z)

where z = W.X + b

Y^ = probability that (Y = 1)

Y^ = p(Y = 1 |X) (The probability of y = 1 for a given value of x)

X = input Features

w = weights(No of weights is equal to the number of input feature in the dataset)

b = bias

Y^ = sigma(z)


If our z vlaue is large positive number, then our value of y^ will be equal to 1.
and if our z value is negative number, then our y^ value will be approximately equal to 0.

Advantages:
1. Easy to implement
2. performs well on data with linear relationship
3. less prone to overfitting for low dimensional dataset.


Disadvanteges:
1. High dimensional dataset causes over-fitting.
2. Difficult to capture complex relationships in a dataset
3. Sensitive to Outliers
4. Needs a larger dataset

# Math Behind Logistic Regression

Training a machine learning model is a step where we have to update the value of weight and bias to best fit.

The value of weight and bias is find with the help of gradient descent.

Z = 5X+10

Y^ = 1/(1+e**-z)


If the value of z is negative, then the value of Y^ will be claso to zero

And if our z value is positive, then the value of Y^ will be close to 1.

Whenever, our Y^ value greater then 0.5, you can say that the value will be close to 1.
And if our Y^ value will be less than 0.5, you can say that the value will be close to 0.

# Loss Function and Cost Function for Logistic Regression

The Curver is called Sigmoid curve or S-shaped curve.

Loss Function:

Z = wX+b

predicted value if Y^


**Binary Criss Entropy loss function(or)Log Loss**

L(Y,Y^) = -(ylogY^+(1-y)log(1-y^))

When Y = 1 Then L(1,Y^) = log(Y^)

when Y = 0 Then L(y,0) = -log(1-Y^)


Loss Function maily Applies to the single training set as compared to the cost function which deals with a penalty for a numer of training sets or the complete batch.

# Gradient Descent For Logistic Regression

Logistic regression is supervised learning model

Logistic regression is mainly used for classification problem

Best for Binary classification problem

Used Sigmoid function

Y^ = 1/(1+e**-z)

Z = w.X+b

It use a binary class entropy loss function or log loss wheareas linear regression uses a mean square error function.

We need to find the optimum weight value and bias value, and for this, the model uses the gradient descent.

If the cost value is high, it means your model is not working fine and is not correct and if out cost value is less, then that means your model is working fine.

If you take the weight and bias value at global minimum point in the gradient descent, you will have the minimum cost function value.

Z = wx+b

w2 = w1+learning rate*dw

b2 = b1+learning rate*db

**Gradient Descent** is an optimization algorithm used for minimizing the ocst function in various machine learning algorithm. It is used for updating the parameters of the learning model.

We keep on updating weight, till we reach theminimum weight and bias value.

w2 = w1+learning rate*dw

b2 = b1+learning rate*db

dw is the partial derivative of cost function with respect to w.

db is the partial dervative of cost function with respect to b.

dw = (1/m)*(Y^-Y).X

db = (1/m)*(Y^-Y)

Note: We Use the gradient descent in order to find the optimum weight value and bias value.

The Equation that we have to use for building th logistic regression:
1. Sigmoid function (Y^ = 1/(1+e**-z))
2. z = w.X+b
Updatind weights
3. w2 = w1.learning rate*dw
4. b2 = b1.learning rate*db
Derivative:
5. dw = (1/m)*(Y^-y).X
6. db = (1/m)*(Y^-Y)

# **Building Machine Learning model from Scratch**

Learning rate is an tuning parameter in an optimization algorithm that determines the **step size** at each iteration while moving towards a minimum of a loss function.

WorkFlow of Logistic Regression model:
1. set learning rate and number of itertion; Initiate Random weight and bias value.
2. Build Logistic Regression Function (Sigmoid Function)
3. Update the parameter using Gradient Descent.

Finally we get the best model (Best weight and bias value) as it has minimum cost function 
4. Build the 'predict' function to determine the class of the data point.

Importing the dependencies

Logistic Regression

In [59]:
#the file is in the desktop we have to import that file

Importing the libraries

In [89]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import log_reg

Data Collection and Analysis

PIMA Diabetes Dataset

In [90]:
#Loading a diabetes dataset to a pandas Dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [91]:
#printing the first five rows
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [92]:
diabetes_dataset.shape

(768, 9)

In [93]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [94]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -->Non_diabetic
1 -->Diabetic

In [95]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [96]:
#Seperating the data and labels
features = diabetes_dataset.drop(columns = 'Outcome',axis = 1)
target = diabetes_dataset['Outcome']

In [97]:
print(features)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [98]:
features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [99]:
print(target)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [100]:
Scalar = StandardScaler()

In [101]:
Scalar.fit(features)

StandardScaler()

In [102]:
standardized_data = Scalar.transform(features)

In [103]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [104]:
features = standardized_data
target = diabetes_dataset['Outcome']

In [105]:
print(features)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [106]:
print(target)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [108]:
X_train,X_test,Y_train,Y_test = train_test_split(features,target,test_size = 0.2 , random_state = 2)

In [109]:
print(features.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model

In [110]:
classifier = log_reg.Logistic_Regression(learning_rate = 0.01 ,no_of_iterations = 1000)

In [111]:
classifier.fit(X_train,Y_train)

Model Evaluation

In [112]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score( Y_train , X_train_prediction)

In [113]:
print("The accuracy score of the test is ",training_data_accuracy)

The accuracy score of the test is  0.7768729641693811

In [114]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(Y_test,X_test_prediction)

In [115]:
print("Accuracy score for the test data is ",test_data_accuracy)

Accuracy score for the test data is  0.7662337662337663

As test data prediction is nearly equal to train data prediction, so our model will not overfit.

Making a Predictive System

In [116]:
input_data = (5,166,72,19,175,25.8,0.587,51)

#changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardized the data
std_data = Scalar.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0] == 0):
  print("The person is non_diabetic")
else:
  print("The person is diabetic")

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"