<a href="https://colab.research.google.com/github/Malikumair786/Machine_Learning/blob/main/project10_Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WorkFlow:

Credit card data --> Data preprocessing --> Data Analysis --> Train Test Split --> Logistic Regression model --> Evaluation

Importing the dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading and preprocessing

In [4]:
credit_card_data = pd.read_csv('/content/drive/MyDrive/AI Datasets/creditcard.csv')

In [5]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit_card_data.shape

(284807, 31)

In [7]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#distribution og legit and fraudulent transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

According to the number of legit and fraudulent transaction, the dataset is imbalancad.
So we want to balanced the data in order to proceed further and for good result

The dataset is highly imbalancad

0 --> normal Transaction

1 --> Fraudulent transcation

In [13]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]

fraud = credit_card_data[credit_card_data.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [16]:
#statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
#compare the values for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

under-sampling

Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction.

Now Deal with unbalancad data

Number of fraudulent transaction = 492,

So we need to select the random 492 transaction that is legit.

In [19]:
#Random Sampling
legit_sample = legit.sample(n = 492)

In [20]:
#Now concatenating two dataframes
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
172205,121000.0,-1.432195,1.540248,0.176485,-1.123323,0.236583,-0.305696,0.158081,0.435565,0.732782,...,-0.261698,-0.774306,-0.113936,-1.146000,-0.079831,-0.226998,-0.068135,0.242252,3.78,0
254558,156786.0,-0.450725,0.504880,-0.980678,-1.568960,2.630954,3.683613,-0.327979,1.051384,0.525387,...,0.299916,1.017103,0.071607,0.661579,-1.017209,0.484698,0.260882,0.307410,3.15,0
223132,143258.0,2.079938,0.252970,-2.285362,0.838078,1.249868,-0.230960,0.606413,-0.192578,-0.299583,...,0.116970,0.360898,-0.077716,-0.128834,0.535981,-0.482475,-0.042241,-0.075688,6.99,0
116303,74222.0,1.264200,0.566794,-0.414002,1.239950,0.089031,-1.022543,0.202931,-0.149005,0.136061,...,-0.090256,-0.249229,-0.148346,-0.118243,0.696244,-0.301006,0.023092,0.044872,1.00,0
136976,81961.0,-0.286363,0.853433,-0.304236,-1.114282,2.539486,3.271654,0.122745,0.934263,-0.504529,...,-0.318523,-1.006167,-0.048094,0.935447,-0.006223,0.088024,0.246916,0.091139,3.59,0

In [22]:
new_dataset.shape

(984, 31)

In [24]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96640.270325,-0.065087,-0.127230,0.048454,-0.003228,0.035417,0.015566,-0.053594,-0.092275,-0.036697,...,0.020165,0.022174,-0.035659,0.012089,0.004252,-0.009569,0.049105,-0.009973,-0.003815,94.710996
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the Data into features and target

In [26]:
X = new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

In [27]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
172205  121000.0 -1.432195  1.540248  0.176485 -1.123323  0.236583 -0.305696
254558  156786.0 -0.450725  0.504880 -0.980678 -1.568960  2.630954  3.683613
223132  143258.0  2.079938  0.252970 -2.285362  0.838078  1.249868 -0.230960
116303   74222.0  1.264200  0.566794 -0.414002  1.239950  0.089031 -1.022543
136976   81961.0 -0.286363  0.853433 -0.304236 -1.114282  2.539486  3.271654
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
172205  0.158081  0.435565  0.732782  ...  0.052355 -0.261698 -0.774306
254558 -0.327979  1.051384  0.525387  ... -0.001110  0.299916  1.017103
223132  0.606413 -0.192578 -0.299583  ... -0.251255  0.116970  0.360898
116303  0.202931 -0.149005  0.136061  ... -0.175594 -0.090256 -0.249229
136976  0.122745  0.934263 -0.504529  ...  0.228748 -0.318523 -1.006167
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
172205 -0.113936 -1.146000 -0.079831 -0.226998 -0.068135  0.242252    3.78
254558  0.071607  0.661579 -1.017209  0.484698  0.260882  0.307410    3.15
223132 -0.077716 -0.128834  0.535981 -0.482475 -0.042241 -0.075688    6.99
116303 -0.148346 -0.118243  0.696244 -0.301006  0.023092  0.044872    1.00
136976 -0.048094  0.935447 -0.006223  0.088024  0.246916  0.091139    3.59
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
172205    0
254558    0
223132    0
116303    0
136976    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Train Test Split

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [30]:
print(X.shape, X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [31]:
model = LogisticRegression()

In [32]:
# training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [33]:
#Accuracy on training data
X_train_predict = model.predict(X_train)

training_data_accuracy = accuracy_score(X_train_predict,Y_train)

In [34]:
print("The training data accuracy score is: ",training_data_accuracy)

The training data accuracy score is:  0.9428208386277002

In [35]:
#test Data Prediction
X_test_predict = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict,Y_test)

In [36]:
print("The Test Data accuracy score is: ",test_data_accuracy)

The Test Data accuracy score is:  0.9289340101522843