<a href="https://colab.research.google.com/github/Malikumair786/Machine_Learning/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print function

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(8)

8

In [ ]:
print(3+4)

7

In [ ]:
print("python projects "+"for beginners")

python projects for beginners

In [ ]:
print (3+9+3)

15

In [ ]:
print(3/5)

0.6

In [ ]:
print(int(3/5))

0

# Data Types

In [ ]:
type(8)

int

In [ ]:
type("Hello World")

str

In [ ]:
type("4")

str

In [ ]:
type(0.4)

float

In [ ]:
type(int(0.5))

int

# Constant And Variable

In [ ]:
first = 3
second = 4
first_str = "Hello World"

In [ ]:
print(first)
print(second)
print(first_str)

3
4
Hello World

In [ ]:
print(first+second)

7

In [ ]:
num1 = 23
num2 = 23
print (num1+num2)

46

In [ ]:
num1 = "3"
type(num1)

str

# Changing the data types

In [ ]:
x = 3
type(x)

int

In [ ]:
print(float(x))

3.0

In [ ]:
a = 7 < 3
print (a)
type(a)

False

bool

In [ ]:
b = int(a)
print(b)
type(b)

0

int

# Data Types in Python
int
float
string
boolean
complex
List
tuple
sets
dictionary

In [ ]:
# integer
x = 3
print (x)
type(x)

3

int

In [ ]:
# float
y = 4.0
print(y)
type(y)

4.0

float

In [ ]:
# string
num = "Hello World"
print(num)
# type(num)
print(num[1:4])

Hello World
ell

In [ ]:
# complex
comp = 3+4j
print(comp)
type(comp)

(3+4j)

complex

In [ ]:
#boolean
num1 = 7 < 3;
print(num1)
type(num1)

False

bool

In [ ]:
# converting int to float
x = 3
print (x)

type(x)

3

int

In [ ]:
#conversion
y = float(x)
print(y)
type(y)

3.0

float

In [ ]:
# converting float to int
num2 = 3.56;
print(num2)
type(num2)

3.56

float

In [ ]:
num3 = int(num2)
print(num3)
type(num3)

3

int

Lists/ arrays in other programming language

In [ ]:
my_list=[1,2,3,4,"hello",5, False]
print(my_list)

[1, 2, 3, 4, 'hello', 5, False]

In [ ]:
#list allows duplicate value: for example
my_list1 = [1,2,3,4,5,1,2,True]
print(my_list1)

[1, 2, 3, 4, 5, 1, 2, True]

In [ ]:
#append operation in list
my_list1.append(3)
print(my_list1)

[1, 2, 3, 4, 5, 1, 2, True, 3]

In [ ]:
#deleting elementing from list
del my_list1[-1]
print(my_list1)

[1, 2, 3, 4, 5, 1, 2, True]

In [ ]:
print(len(my_list1))

8

In [ ]:
# extend list
my_list2 = [4,5,6]
print(my_list2)
my_list1.extend(my_list2)
print(my_list1)

[4, 5, 6]
[1, 2, 3, 4, 5, 1, 2, True, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [ ]:
my_list1 = [1,2,3,4]
my_list1.reverse()
print(my_list1)

[4, 3, 2, 1]

In [ ]:
# converting list to tuple
my_tuple1 = tuple(my_list1)
print(my_tuple1)

(4, 3, 2, 1)

In [ ]:
my_tuple = (1,2,34,5)
print(my_tuple)
type(my_tuple)

(1, 2, 34, 5)

tuple

In [ ]:
# converting tuple to list
my_list3 = list(my_tuple)

In [ ]:
print(my_list3)

[1, 2, 34, 5]

In [ ]:
# sets
set1 = {1,2,4,5,6}
print(set1)
type(set1)

{1, 2, 4, 5, 6}

set

In [ ]:
# no duplication is allowed in set
set2 = {1,2,3,4,5,1,2,3}
print(set2)

{1, 2, 3, 4, 5}

In [ ]:
# dictionary
dict1 = {'Name': "Umair", 'Age': 20, 'country' : "Pakistan"}
print(dict1)
type(dict1)

{'Name': 'Umair', 'Age': 20, 'country': 'Pakistan'}

dict

# Operators in python
1. arithematic
2. Assignment
3. Comparison
4. logical
5. identity
6. membership

In [ ]:
# 1. Arithematic operator
num1 = 20
num2 = 10
sum = num1+num2
sub = num1-num2
mult = num1*num2
div = num1/num2
modu = num1%num2
exp = num1**num2
print("Sum = ", sum)
print("Subtraction = ",sub)
print("multiplication = ",mult)
print("Division = ",div)
print("Modulus = ",modu)
print("Exponent = ",exp)

Sum =  30
Subtraction =  10
multiplication =  200
Division =  2.0
Modulus =  0
Exponent =  10240000000000

Assignment operator
"="
"+="
"*="
"/="
"-="
"%="
"**="

In [ ]:
x = 3
print(x)

3

In [ ]:
x+=3
print(x)

12

Comparison Operator

In [ ]:
x = 5
y = 10
print(x == y)

False

In [ ]:
print(x != y)

True

In [ ]:
print(a > b)

False

In [ ]:
print(a < b)

False

In [ ]:
print (a <= b)

True

In [ ]:
print(a >= b)

True

Logical operator
AND
OR
NOT

In [ ]:
a = 10
print(a > 20 and a >5)

False

In [ ]:
print(a > 20 or a >5)

True

In [ ]:
print (not(a>8))

False

Identity operator

In [ ]:
x = 5
y = 5
print(x is y)
y = "5"
print(x is y)

True
False

In [ ]:
print(x is not y)

True

Membership Operator
in
Not in

In [ ]:
list1 = [1,2,3,4,5]
print(1 in list1)
print(6 in list1)

True
False

In [ ]:
list1 = [1,2,3,4,5]
print(1 not in list1)
print(6 not in list1)

False
True

# If/Else Statement
in/elif/else statement

In [ ]:
a = 30
b = 50
if(a > b):
  print("a is greatest number")
else:
  print("B is the greatest number")

B is the greatest number

In [ ]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
if(a > b):
  print("a is greatest number")
else:
  print("B is the greatest number")

Enter the first number10
Enter the second number30
B is the greatest number

# Loops in Python
For Loop,
while loop,
do while loop

In [ ]:
# for loop
for i in range(5):
  laptop_price = int(input("Enter the price of the user: "))

Enter the price of the user: 20000
Enter the price of the user: 30000
Enter the price of the user: 40000
Enter the price of the user: 50000
Enter the price of the user: 60000

In [ ]:
number = [100,200,300,400]
for i in range(len(number)):
  print(number[i])

100
200
300
400

In [ ]:
number = [100,200,300,400]
for i in number:
  print(i)

100
200
300
400

In [ ]:
i = 0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

# Function in Python

In [ ]:
# factorial of a number
x = int(input("Enter the number that you want to find factorial: "))

Enter the number that you want to find factorial: 5

In [ ]:
fact = 1
if x == 0:
  print("The factorial of ",x," is 1")
else:
  for i in range(1,x+1):
    fact = fact*i
  print("The factorial of number is ",fact)

The factorial of number is  120

In [ ]:
def factorial_value(num):
  factorial = 1
  if num == 0:
    return factorial
  else:
    for i in range(1,num+1):
      factorial = factorial*i
    return factorial

print(factorial_value(5))

120

The End